$fa-font-path: '/webfonts';

@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~bootstrap-select/dist/css/bootstrap-select';

body > .container {
    margin-top: 80px;
    margin-bottom: 50px;
}

li.selected {
    background: #efefef;
}

#editModal .bootstrap-select,
table {
    width: 100% !important;
}

#viewModal .modal-dialog {
    max-width: 900px !important;
}

.heading-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
